# Node
node_modules/
npm-debug.log*
yarn.lock
pnpm-lock.yaml

# Build output
dist/
build/
*.log

# Env
.env
.env.*
backend/.env
frontend/.env

# terraform
terraform/*.tfstate
terraform/*.tfstate.*
terraform/.terraform/
terraform/terraform.tfvars